.app__body{
  display: flex;
  background-color: #eff2f5;
  padding : 30px 0px;
}

/*for rotation of the image
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
