.header{
    display : flex;
    justify-content: space-between;
    position : sticky;
    z-index : 100;
    padding : 0px 10px;
    top:0;
    background-color:white;
    box-shadow : 0px 5px 8px -9px rgba(0,0,0,0.75); 
}
.header__image > img {
    height: 50px;
    border-radius: 50% ;
}
.header__left {
    display:flex;
    justify-content: evenly;
    padding: 10px;
}
.header__input{
    display:flex;
    align-items : center;
    border-radius: 40px;
    background-color : #eff2f5;
    padding : 10px;
    margin-left :10px;
}
.header__input > input{
    border: none;
    justify-content:center;
    background-color :transparent;
    outline-width: 0;
    font-size: 15px;
}
.header__middle{
    display:flex;
    flex:1;
    justify-content : center;
}
.header__option{
    color : gray !important;
}
.header__option:hover{
    color : #2e81f4 !important;
}
.header__option {
    display :flex;
    align-items : center;
    padding: 0 30px;
    cursor: pointer;
}
.header__info{
    display :flex;
    align-items : center;
}
.header__info > h4{
    margin-left :10px;
}
.header__right {
    display:flex;
}